 python -m notebook

In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_excel("Summer Camps 2024.xlsx")
df

,Subject,Dates,Location,Area
0,Web Development Camp,"Aug 26, 2024 - Aug 30, 2024",Markham Village Community Centre,East & Chimo
1,AI Starter,"Aug 06, 2024 - Aug 09, 2024",Markham Village Community Centre,East & Chimo
2,Lego Robotics w/ Mindstorm EV3 Camp,"Jul 22, 2024 - Jul 26, 2024",Markham Village Community Centre,East & Chimo
3,Lego Robotics w/ WeDo Camp,"Aug 12, 2024 - Aug 16, 2024",Markham Village Community Centre,East & Chimo
4,Lego Robotics w/ WeDo Camp,"Jul 15, 2024 - Jul 19, 2024",Markham Village Community Centre,East & Chimo
...,...,...,...,...
406,Academic Camp,"Jul 29, 2024 - Aug 02, 2024",Thornhill Community Centre,West Area
407,Mechanical Engineer Camp,"Aug 19, 2024 - Aug 23, 2024",Thornhill Community Centre,West Area
408,Mechanical Engineer Camp,"Jul 08, 2024 - Jul 12, 2024",Thornhill Community Centre,West Area
409,Math & Sciences,"Aug 06, 2024 - Aug 09, 2024",Thornhill Community Centre,West Area
410,Math & Sciences,"Jul 02, 2024 - Jul 05, 2024",Thornhill Community Centre,West Area

In [51]:
df[["Start Date", "End Date"]] = df["Dates"].str.split(' - ', n=1, expand=True)
df = df.drop(columns='Dates')

In [52]:
df

,Subject,Location,Area,Start Date,End Date
0,Web Development Camp,Markham Village Community Centre,East & Chimo,"Aug 26, 2024","Aug 30, 2024"
1,AI Starter,Markham Village Community Centre,East & Chimo,"Aug 06, 2024","Aug 09, 2024"
2,Lego Robotics w/ Mindstorm EV3 Camp,Markham Village Community Centre,East & Chimo,"Jul 22, 2024","Jul 26, 2024"
3,Lego Robotics w/ WeDo Camp,Markham Village Community Centre,East & Chimo,"Aug 12, 2024","Aug 16, 2024"
4,Lego Robotics w/ WeDo Camp,Markham Village Community Centre,East & Chimo,"Jul 15, 2024","Jul 19, 2024"
...,...,...,...,...,...
406,Academic Camp,Thornhill Community Centre,West Area,"Jul 29, 2024","Aug 02, 2024"
407,Mechanical Engineer Camp,Thornhill Community Centre,West Area,"Aug 19, 2024","Aug 23, 2024"
408,Mechanical Engineer Camp,Thornhill Community Centre,West Area,"Jul 08, 2024","Jul 12, 2024"
409,Math & Sciences,Thornhill Community Centre,West Area,"Aug 06, 2024","Aug 09, 2024"
410,Math & Sciences,Thornhill Community Centre,West Area,"Jul 02, 2024","Jul 05, 2024"

In [53]:
#Create list of unique locations, create list of unique area
uniqueLocation = df.drop_duplicates(subset="Location")[["Location", "Area "]]
uniqueLocation

                                      Location            Area
0             Markham Village Community Centre     East & Chimo
12                 Centennial Community Centre     East & Chimo
19                        Legacy Public School     East & Chimo
24               Bill Hogarth Secondary School     East & Chimo
31                                       Chimo     East & Chimo
58                    Cornell Community Centre     East & Chimo
76                   Reesor Park Public School     East & Chimo
81                  Mount Joy Community Centre     East & Chimo
135                                    Various        Inclusion
144                Angus Glen Community Centre            North
147                    Crosby Community Centre            North
153                   Angus Glen Tennis Centre            North
179  Unionville Train Station Community Centre            North
189              Victoria Square Public School            North
205                    Aaniin Community Centre  South East Area
216               Rouge River Community Centre  South East Area
250            Milliken Mills Community Centre  South West Area
260                 Milliken Mills High School  South West Area
277                 Milliken Mills Soccer Dome  South West Area
295                  Armadale Community Centre  South West Area
313                 Thornhill Community Centre        West Area
320                           Clatworthy Arena        West Area
359                  Thornlea Pool & Gymnasium        West Area
368                  Thornlea Secondary School        West Area

In [54]:
uniqueArea = df["Area "].unique()
uniqueArea

array(['East & Chimo', 'Inclusion', 'North', 'South East Area',
       'South West Area', 'West Area'], dtype=object)

In [58]:
outputFile =  open("SQL_update.txt", "w")
# outputFile.close()

In [59]:
# outputFile.close()

In [60]:
for index, item in enumerate(uniqueArea):
    outputString = "INSERT INTO markham_rec.camp_location VALUES (" + str(index+1) + ",'" + str(item) + "');\n"
    #str(item["Location"]) + " " + 
    outputFile.write(outputString)
    print(outputString)

INSERT INTO markham_rec.camp_location VALUES (0,'East & Chimo');

INSERT INTO markham_rec.camp_location VALUES (1,'Inclusion');

INSERT INTO markham_rec.camp_location VALUES (2,'North');

INSERT INTO markham_rec.camp_location VALUES (3,'South East Area');

INSERT INTO markham_rec.camp_location VALUES (4,'South West Area');

INSERT INTO markham_rec.camp_location VALUES (5,'West Area');

In [64]:
for index, item in df.iterrows():
    if index == 368:
        print(item)

Subject                 Basketball Camp
Location      Thornlea Secondary School
Area                          West Area
Start Date                 Jul 22, 2024
End Date                   Jul 26, 2024
Name: 368, dtype: object